.title{
    color: black; 
    font-size: 100px;
    margin: auto; 
    font-family: "Fredoka One";
    text-shadow: 4px 4px white;
}
.values{
    color: black; 
    font-size: 40px;
    margin: auto; 
    font-family: "Fredoka One";
}